<header class="header">
  <div class="header-container">
    <div class="logo" (click)="navigateTo('/')">
      <h1>RSS агрегатор</h1>
    </div>

    <nav class="nav">
      <ul class="nav-list">
        @if (isLoggedIn) {
          <li class="nav-item">
            <button class="nav-link" (click)="navigateTo('/')">
              Домашняя страница
            </button>
          </li>
        }

        @if (isAdmin) {
          <li class="nav-item">
            <button class="nav-link" (click)="navigateTo('/admin')">
              Панель администратора
            </button>
          </li>
        }

        @if (isLoggedIn) {
          <li class="nav-item username">
            <span>Добро пожаловать, {{ username }}</span>
          </li>
        }

        <li class="nav-item">
          @if (!isLoggedIn) {
            <button
              class="btn btn-outline"
              (click)="navigateTo('/login')">
              Войти
            </button>
          }

          @if (isLoggedIn) {
            <button
              class="btn btn-outline"
              (click)="logout()">
              Выйти
            </button>
          }
        </li>
      </ul>
    </nav>
  </div>
</header>