<h2>Все статьи</h2>

<div *ngIf="isLoading">Загрузка...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="!isLoading && !errorMessage">

  <div *ngIf="(groupedArticles | keyvalue).length === 0">
    <p>Нет статей</p>
  </div>

  <div *ngFor="let channel of groupedArticles | keyvalue">
    <h3>{{ channel.key }}</h3>

    <ul>
      <li *ngFor="let article of channel.value">
        {{ article.title }}
        <button (click)="deleteArticle(article.title)">
          Удалить
        </button>
      </li>
    </ul>
  </div>

</div>